[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.33"
optimizer = true
optimizer_runs = 200
bytecode_hash = "none"
viaIR = true

[fmt]
line_length = 120
tab_width = 4

[invariant]
runs = 256
depth = 50
fail_on_revert = false
